<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>Blue</string>
			</array>
			<key>CFBundleIconName</key>
			<string>Blue</string>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>BlueLight</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>BlueLight</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>BlueDark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>BlueDark</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Pink</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Pink</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>PinkLight</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>PinkLight</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>PinkDark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>PinkDark</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Green</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Green</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>GreenLight</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>GreenLight</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>GreenDark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>GreenDark</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
