<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Landmarks.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>MacLandmarks.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>WatchLandmarks Watch App (Notification).xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>WatchLandmarks Watch App.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>060692FE2BA3476800037B53</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0606930E2BA3476900037B53</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>060693182BA3476900037B53</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>067F44472BA98D3A002DE268</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>067F44562BA98D3B002DE268</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>067F44602BA98D3B002DE268</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>06B33D9B2BA99C760011F8E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>06B33DAB2BA99C770011F8E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>06B33DB52BA99C770011F8E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
